{
  "openapi": "3.0.0",
  "info": {
    "title": "\ud83d\ude80 Frontend API v2",
    "description": "All frontend-facing endpoints for AgentDashboards 2.0 - includes dashboard, team, transactions, network, notifications, integrations, and all feature endpoints",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://x2nu-xcjc-vhax.agentdashboards.xano.io/api:pe1wjL5I"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/admin/resync-user": {
      "post": {
        "operationId": "\ud83d\ude80 Frontend API v2/admin/resync-user|POST",
        "summary": "Endpoint created via MCP - untitled-endpoint",
        "description": "Endpoint created via MCP - untitled-endpoint\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "admin"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string"
                    },
                    "job_id": {
                      "type": "string"
                    },
                    "new_status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            }
          }
        }
      }
    },
    "/admin": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/admin|GET",
        "summary": "Endpoint created via MCP - admin",
        "description": "Endpoint created via MCP - admin\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "string"
                    },
                    "stats": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/backfill-agent-team-id-v2": {
      "post": {
        "operationId": "\ud83d\ude80 Frontend API v2/backfill-agent-team-id-v2|POST",
        "summary": "Endpoint created via MCP - backfill-agent-team-id-v2",
        "description": "Endpoint created via MCP - backfill-agent-team-id-v2\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "backfill-agent-team-id-v2"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string"
                    },
                    "batch_size": {
                      "type": "string"
                    },
                    "page": {
                      "type": "string"
                    },
                    "total_teams": {
                      "type": "string"
                    },
                    "updated_from_team_owner": {
                      "type": "string"
                    },
                    "total_members": {
                      "type": "string"
                    },
                    "updated_from_team_members": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "batch_size": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "page": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "batch_size": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "page": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chart/network-activity": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/chart/network-activity|GET",
        "summary": "Network Activity Chart - Server-side transform",
        "description": "Network Activity Chart - Server-side transform\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "chart"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "months_back",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/chart/revenue-by-agent": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/chart/revenue-by-agent|GET",
        "summary": "Endpoint created via MCP - untitled-endpoint",
        "description": "Endpoint created via MCP - untitled-endpoint\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "chart"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/chart/revenue-trends": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/chart/revenue-trends|GET",
        "summary": "Endpoint created via MCP - untitled-endpoint",
        "description": "Endpoint created via MCP - untitled-endpoint\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "chart"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "months_back",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/chart/transactions-status": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/chart/transactions-status|GET",
        "summary": "Endpoint created via MCP - untitled-endpoint",
        "description": "Endpoint created via MCP - untitled-endpoint\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "chart"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/chart_catalog/{chart_catalog_id}": {
      "patch": {
        "operationId": "\ud83d\ude80 Frontend API v2/chart_catalog/{chart_catalog_id}|PATCH",
        "summary": "Endpoint created via MCP - chart_catalog/{chart_catalog_id}",
        "description": "Endpoint created via MCP - chart_catalog/{chart_catalog_id}\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "chart_catalog"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chart_catalog_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_default": {
                    "type": "boolean",
                    "description": ""
                  },
                  "default_order": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                },
                "required": [
                  "is_default",
                  "default_order"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_default": {
                    "type": "boolean",
                    "description": ""
                  },
                  "default_order": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                },
                "required": [
                  "is_default",
                  "default_order"
                ]
              }
            }
          }
        }
      }
    },
    "/chart_catalog": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/chart_catalog|GET",
        "summary": "Get all available charts from catalog",
        "description": "Get all available charts from catalog\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "chart_catalog"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "is_enabled",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          },
          {
            "name": "is_default",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "created_at": {
                        "type": "number",
                        "format": "timestamptz",
                        "description": "",
                        "default": "now"
                      },
                      "chart_id": {
                        "type": "string",
                        "description": "",
                        "nullable": true
                      },
                      "display_name": {
                        "type": "string",
                        "description": "",
                        "nullable": true
                      },
                      "description": {
                        "type": "string",
                        "description": "",
                        "nullable": true
                      },
                      "category": {
                        "type": "string",
                        "description": "",
                        "nullable": true,
                        "default": "chart"
                      },
                      "section": {
                        "type": "string",
                        "description": "",
                        "nullable": true
                      },
                      "icon": {
                        "type": "string",
                        "description": "",
                        "nullable": true
                      },
                      "is_enabled": {
                        "type": "boolean",
                        "description": "",
                        "nullable": true,
                        "default": "1"
                      },
                      "is_default": {
                        "type": "boolean",
                        "description": "",
                        "nullable": true
                      },
                      "sort_order": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "nullable": true
                      },
                      "default_config": {
                        "type": "object",
                        "description": "",
                        "nullable": true
                      },
                      "default_size": {
                        "type": "object",
                        "description": "",
                        "nullable": true
                      },
                      "smart_chart_config": {
                        "type": "object",
                        "description": "",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/contact_log": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/contact_log|GET",
        "summary": "Endpoint created via MCP - contact_log",
        "description": "Endpoint created via MCP - contact_log\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "contact_log"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "entity_id",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "entity_type",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "operationId": "\ud83d\ude80 Frontend API v2/contact_log|POST",
        "summary": "Endpoint created via MCP - contact_log",
        "description": "Endpoint created via MCP - contact_log\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "contact_log"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int64",
                          "description": ""
                        },
                        "user_id": {
                          "type": "integer",
                          "format": "int64",
                          "description": ""
                        },
                        "agent_id": {
                          "type": "integer",
                          "format": "int64",
                          "description": ""
                        },
                        "prospect_id": {
                          "type": "integer",
                          "format": "int64",
                          "description": ""
                        },
                        "contact_type": {
                          "type": "string",
                          "description": ""
                        },
                        "note": {
                          "type": "string",
                          "description": ""
                        },
                        "contacted_at": {
                          "type": "number",
                          "format": "timestamptz",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "entity_type": {
                    "type": "string",
                    "description": ""
                  },
                  "contact_type": {
                    "type": "string",
                    "description": ""
                  },
                  "note": {
                    "type": "string",
                    "description": ""
                  }
                },
                "required": [
                  "entity_id",
                  "entity_type",
                  "contact_type",
                  "note"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "entity_type": {
                    "type": "string",
                    "description": ""
                  },
                  "contact_type": {
                    "type": "string",
                    "description": ""
                  },
                  "note": {
                    "type": "string",
                    "description": ""
                  }
                },
                "required": [
                  "entity_id",
                  "entity_type",
                  "contact_type",
                  "note"
                ]
              }
            }
          }
        }
      }
    },
    "/contributions": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/contributions|GET",
        "summary": "Contributions endpoint - returns contributions with contributor names for the authenticated user",
        "description": "Contributions endpoint - returns contributions with contributor names for the authenticated user\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "contributions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/csv/configure_mapping/list": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/csv/configure_mapping/list|GET",
        "summary": "Endpoint: csv/configure_mapping/list - List all CSV mappings for user",
        "description": "Endpoint: csv/configure_mapping/list - List all CSV mappings for user\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "csv"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string"
                    },
                    "mappings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "description": ""
                          },
                          "created_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": ""
                          },
                          "user_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": ""
                          },
                          "mapping_name": {
                            "type": "string",
                            "description": ""
                          },
                          "source_columns": {
                            "type": "object",
                            "description": "",
                            "nullable": true
                          },
                          "target_fields": {
                            "type": "object",
                            "description": "",
                            "nullable": true
                          },
                          "target_table": {
                            "type": "string",
                            "description": ""
                          },
                          "is_active": {
                            "type": "boolean",
                            "description": "",
                            "default": "1"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/csv/configure_mapping": {
      "post": {
        "operationId": "\ud83d\ude80 Frontend API v2/csv/configure_mapping|POST",
        "summary": "Endpoint: csv/configure_mapping - Save CSV mapping configuration",
        "description": "Endpoint: csv/configure_mapping - Save CSV mapping configuration\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "csv"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string"
                    },
                    "mapping_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mapping_name": {
                    "type": "string",
                    "description": ""
                  },
                  "source_columns": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  },
                  "target_fields": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  },
                  "target_table": {
                    "type": "string",
                    "description": ""
                  }
                },
                "required": [
                  "mapping_name",
                  "source_columns",
                  "target_fields",
                  "target_table"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "mapping_name": {
                    "type": "string",
                    "description": ""
                  },
                  "source_columns": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  },
                  "target_fields": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  },
                  "target_table": {
                    "type": "string",
                    "description": ""
                  }
                },
                "required": [
                  "mapping_name",
                  "source_columns",
                  "target_fields",
                  "target_table"
                ]
              }
            }
          }
        }
      }
    },
    "/csv/process_batch": {
      "post": {
        "operationId": "\ud83d\ude80 Frontend API v2/csv/process_batch|POST",
        "summary": "Endpoint: csv/process_batch - Process CSV batch import",
        "description": "Endpoint: csv/process_batch - Process CSV batch import\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "csv"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string"
                    },
                    "processed": {
                      "type": "string"
                    },
                    "success_count": {
                      "type": "string"
                    },
                    "error_count": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "string"
                    },
                    "mapping_used": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mapping_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "rows": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  }
                },
                "required": [
                  "mapping_id",
                  "rows"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "mapping_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "rows": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  }
                },
                "required": [
                  "mapping_id",
                  "rows"
                ]
              }
            }
          }
        }
      }
    },
    "/csv/upload": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/csv/upload|GET",
        "summary": "Endpoint created via MCP - csv/upload",
        "description": "Endpoint created via MCP - csv/upload\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "csv"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string"
                    },
                    "config": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/csv/validate": {
      "post": {
        "operationId": "\ud83d\ude80 Frontend API v2/csv/validate|POST",
        "summary": "Endpoint created via MCP - csv/validate",
        "description": "Endpoint created via MCP - csv/validate\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "csv"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string"
                    },
                    "validation": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_url": {
                    "type": "string",
                    "description": ""
                  }
                },
                "required": [
                  "file_url"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_url": {
                    "type": "string",
                    "description": ""
                  }
                },
                "required": [
                  "file_url"
                ]
              }
            }
          }
        }
      }
    },
    "/dashboard/roster_data": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/dashboard/roster_data|GET",
        "summary": "Endpoint created via MCP - dashboard/roster_data",
        "description": "Endpoint created via MCP - dashboard/roster_data\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "dashboard"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dashboard_sections": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/dashboard_sections|GET",
        "summary": "Endpoint created via MCP - dashboard_sections",
        "description": "Endpoint created via MCP - dashboard_sections\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "dashboard_sections"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "created_at": {
                        "type": "number",
                        "format": "timestamptz",
                        "description": "",
                        "default": "now"
                      },
                      "user_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "description": ""
                      },
                      "display_order": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "nullable": true
                      },
                      "collapsed": {
                        "type": "boolean",
                        "description": "",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "operationId": "\ud83d\ude80 Frontend API v2/dashboard_sections|POST",
        "summary": "Endpoint created via MCP - dashboard_sections",
        "description": "Endpoint created via MCP - dashboard_sections\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "dashboard_sections"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "user_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "name": {
                      "type": "string",
                      "description": ""
                    },
                    "display_order": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "collapsed": {
                      "type": "boolean",
                      "description": "",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": ""
                  },
                  "subtitle": {
                    "type": "string",
                    "description": ""
                  },
                  "icon_type": {
                    "type": "string",
                    "description": ""
                  },
                  "sort_order": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                },
                "required": [
                  "title"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": ""
                  },
                  "subtitle": {
                    "type": "string",
                    "description": ""
                  },
                  "icon_type": {
                    "type": "string",
                    "description": ""
                  },
                  "sort_order": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        }
      }
    },
    "/favorites_id": {
      "patch": {
        "operationId": "\ud83d\ude80 Frontend API v2/favorites_id|PATCH",
        "summary": "Update a favorite chart configuration",
        "description": "Update a favorite chart configuration\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "favorites_id"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "user_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "section_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "chart_id": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "chart_catalog_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "scope": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "display_order": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "grid_column": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "grid_row": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "grid_width": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true,
                      "default": "1"
                    },
                    "grid_height": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true,
                      "default": "1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "grid_layout": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  },
                  "chart_config": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  }
                },
                "required": [
                  "id"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "grid_layout": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  },
                  "chart_config": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/favorites": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/favorites|GET",
        "summary": "Get user's favorites",
        "description": "Get user's favorites\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "favorites"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "created_at": {
                        "type": "number",
                        "format": "timestamptz",
                        "description": "",
                        "default": "now"
                      },
                      "user_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "nullable": true
                      },
                      "section_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "nullable": true
                      },
                      "chart_id": {
                        "type": "string",
                        "description": "",
                        "nullable": true
                      },
                      "chart_catalog_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "nullable": true
                      },
                      "scope": {
                        "type": "string",
                        "description": "",
                        "nullable": true
                      },
                      "display_order": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "nullable": true
                      },
                      "grid_column": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "nullable": true
                      },
                      "grid_row": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "nullable": true
                      },
                      "grid_width": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "nullable": true,
                        "default": "1"
                      },
                      "grid_height": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "nullable": true,
                        "default": "1"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "operationId": "\ud83d\ude80 Frontend API v2/favorites|POST",
        "summary": "Add a favorite chart to user dashboard",
        "description": "Add a favorite chart to user dashboard\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "favorites"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "user_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "section_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "chart_id": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "chart_catalog_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "scope": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "display_order": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "grid_column": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "grid_row": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "grid_width": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true,
                      "default": "1"
                    },
                    "grid_height": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true,
                      "default": "1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chart_catalog_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "chart_config": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  },
                  "grid_layout": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  }
                },
                "required": [
                  "chart_catalog_id"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "chart_catalog_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "chart_config": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  },
                  "grid_layout": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  }
                },
                "required": [
                  "chart_catalog_id"
                ]
              }
            }
          }
        }
      }
    },
    "/fub/appointments": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/fub/appointments|GET",
        "summary": "FUB Appointments - List all appointments",
        "description": "FUB Appointments - List all appointments\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "fub"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemsReceived": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "curPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "nextPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "prevPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "perPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "description": ""
                          },
                          "created_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "default": "now"
                          },
                          "ad_created_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "nullable": true,
                            "default": "now"
                          },
                          "ad_updated_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "nullable": true
                          },
                          "ad_appointment_id": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "appointment_id": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "fub_created_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "nullable": true
                          },
                          "fub_updated_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "nullable": true
                          },
                          "created_by_name": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "created_by_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "",
                            "nullable": true
                          },
                          "updated_by_name": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "updated_by_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "",
                            "nullable": true
                          },
                          "title": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "start": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "nullable": true
                          },
                          "end": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "nullable": true
                          },
                          "timezone": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "is_all_day": {
                            "type": "boolean",
                            "description": "",
                            "nullable": true
                          },
                          "is_from_fub": {
                            "type": "boolean",
                            "description": "",
                            "nullable": true
                          },
                          "location": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "invitees": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            },
                            "nullable": true
                          },
                          "external_link": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "outcome": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "fub_user_id_raw": {
                            "type": "integer",
                            "format": "int64",
                            "description": "",
                            "nullable": true
                          },
                          "invited_person_id_raw": {
                            "type": "integer",
                            "format": "int64",
                            "description": "",
                            "nullable": true
                          },
                          "fub_user_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "",
                            "nullable": true
                          },
                          "created_by_fub_user_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "",
                            "nullable": true
                          },
                          "invited_person_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "",
                            "nullable": true
                          },
                          "fub_account_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "",
                            "nullable": true
                          },
                          "user_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/fub/bulk_add_people": {
      "post": {
        "operationId": "\ud83d\ude80 Frontend API v2/fub/bulk_add_people|POST",
        "summary": "Endpoint created via MCP - fub/bulk_add_people",
        "description": "Endpoint created via MCP - fub/bulk_add_people\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "fub"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/fub/events": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/fub/events|GET",
        "summary": "FUB Events - List all events",
        "description": "FUB Events - List all events\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "fub"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemsReceived": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "curPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "nextPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "prevPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "perPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "description": ""
                          },
                          "created_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "default": "now"
                          },
                          "last_updated_ad": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "nullable": true
                          },
                          "fub_account_id_raw": {
                            "type": "string",
                            "description": ""
                          },
                          "ad_events_id": {
                            "type": "string",
                            "description": ""
                          },
                          "fub_events_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": ""
                          },
                          "fub_created_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "nullable": true
                          },
                          "fub_updated_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "nullable": true
                          },
                          "people_name": {
                            "type": "string",
                            "description": ""
                          },
                          "occurred": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "nullable": true
                          },
                          "source": {
                            "type": "string",
                            "description": ""
                          },
                          "type": {
                            "type": "string",
                            "description": ""
                          },
                          "property_street": {
                            "type": "string",
                            "description": ""
                          },
                          "property_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": ""
                          },
                          "property_city": {
                            "type": "string",
                            "description": ""
                          },
                          "property_state": {
                            "type": "string",
                            "description": ""
                          },
                          "property_zip": {
                            "type": "string",
                            "description": ""
                          },
                          "message": {
                            "type": "string",
                            "description": ""
                          },
                          "description": {
                            "type": "string",
                            "description": ""
                          },
                          "fub_people_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "",
                            "nullable": true
                          },
                          "fub_accounts_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "",
                            "nullable": true
                          },
                          "people_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "",
                            "nullable": true
                          },
                          "credentials_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/fub/lambda_failed_records": {
      "post": {
        "operationId": "\ud83d\ude80 Frontend API v2/fub/lambda_failed_records|POST",
        "summary": "Endpoint created via MCP - fub/lambda_failed_records",
        "description": "Endpoint created via MCP - fub/lambda_failed_records\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "fub"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/fub/lambda_worker_logs/id": {
      "patch": {
        "operationId": "\ud83d\ude80 Frontend API v2/fub/lambda_worker_logs/id|PATCH",
        "summary": "Endpoint created via MCP - fub/lambda_worker_logs/id",
        "description": "Endpoint created via MCP - fub/lambda_worker_logs/id\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "fub"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fub/lambda_worker_logs": {
      "post": {
        "operationId": "\ud83d\ude80 Frontend API v2/fub/lambda_worker_logs|POST",
        "summary": "Endpoint created via MCP - fub/lambda_worker_logs",
        "description": "Endpoint created via MCP - fub/lambda_worker_logs\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "fub"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/fub/people": {
      "get": {
        "operationId": "\ud83d\ude80 Frontend API v2/fub/people|GET",
        "summary": "Endpoint created via MCP - fub/people",
        "description": "Endpoint created via MCP - fub/people\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "fub"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemsReceived": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "curPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "nextPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "prevPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "perPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "description": ""
                          },
                          "created_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "default": "now"
                          },
                          "updated_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "nullable": true
                          },
                          "people_name": {
                            "type": "string",
                            "description": ""
                          },
                          "fub_created_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "nullable": true
                          },
                          "fub_createdAt_formatted": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": ""
                          },
                          "fub_updated_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "",
                            "nullable": true
                          },
                          "ad_people_id": {
                            "type": "string",
                            "description": ""
                          },
                          "fub_account_id_raw": {
                            "type": "string",
                            "description": ""
                          },
                          "assigned_to_fub_name": {
                            "type": "string",
                            "description": ""
                          },
                          "assigned_to_fub_account_user_name": {
                            "type": "string",
                            "description": ""
                          },
                          "first_name": {
                            "type": "string",
                            "description": ""
                          },
                          "last_name": {
                            "type": "string",
                            "description": ""
                          },
                          "type": {
                            "type": "string",
                            "description": ""
                          },
                          "stage_name": {
                            "type": "string",
                            "description": ""
                          },
                          "source_name": {
                            "type": "string",
                            "description": ""
                          },
                          "source_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": ""
                          },
                          "source_url": {
                            "type": "string",
                            "description": ""
                          },
                          "created_via": {
                            "type": "string",
                            "description": ""
                          },
                          "price": {
                            "type": "string",
                            "description": ""
                          },
                          "deal_status": {
                            "type": "string",
                            "description": ""
                          },
                          "deal_price": {
                            "type": "integer",
[...]
